@import "bootstrap";
@import "flat-ui";
@import "bootstrap-responsive";

body {
  padding-top: 60px;
}

.green-sea {
  color: #16A085;
}

.nephritis {
  color: #27AE60;
}

.belize-hole {
  color: #2980B9;
}

.wisteria {
  color: #8E44AD;
}

.midnight-blue {
  color: #2C3E50;
}

.orange {
  color: #F39C12;
}

.pumpkin {
  color: #D35400;
}

.pomegranate {
  color: #C0392B;
}

.silver {
  color: #BDC3C7;
}

.asbestos {
  color: #7F8C8D;
}


.homograph-disambiguation {

}